


html, body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	color: #52697E;
}


body {
    padding-top: 51px;
    padding-bottom: 10px;
    width: 100%;
    top: 8%;
}

#corpo {
    width: 80%;
    margin-left: 18%;
    margin-right: 15%;
    position: fixed;
    top: 8%;
}

#cabecalho {
    color: #FFFFFF;
    padding-left: 0%;
    padding-right: 100%;
    
}

#wrapper {
    padding-bottom: 10px; /* Height of the footer element  */
    width: 80%;
}

#rodape {
    background: #F8F8F8;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    padding-top: 10px;
    top: 95.1%;
    
}

#rodape footer{
    width: 100%;
    margin-left: 0%;
    margin-right: 5%;
    position: absolute;
    top: 0%;
}
