@using br.com.Chronos.Idioma.Resources

<h2>@Language.NomeProjeto</h2>

<div class="col-md-12 form-group">
    <label for="Usuario" class="col-md-2">Usuario:</label>
    <div class="col-md-4">
        <input type="text" id="Usuario" class="form-control" />
    </div>
    <label for="Senha" class="col-md-2">Senha:</label>
    <div class="col-md-4">
        <input type="password" id="Senha" class="form-control" />
    </div>
</div>